
body.category-everything-is-true .site{

	header.site-header .site-title a{
		font-family: 'Metal Mania', cursive;
	}
	div.site-content{
		background: black;
	}

	background: black;
	color: white;
	font-family: 'Metal Mania', cursive;
	
	h1,h2,h3,h4,h5,h6{
		font-family: 'Metal Mania', cursive;
	}	

}