/*--------------------------------------------------------------
#  Post Navigation
--------------------------------------------------------------*/

.nav-links{
	display: flex;
	flex-direction: row;
	margin: 1em auto;
	max-width: @inner-inner;

	@media( max-width: 600px ){
		flex-direction: column;
		margin: .5em;
	}
}

.nav-previous, .nav-next{
	background-size: 100%;
	flex-grow: 1;	
	min-width: 50%;
	min-height: 170px;
	text-align: center;

	// TODO: This needs to be checked on smaller screen sizes

	a{
		background: rgba( 1,1,1,.5);
		border: none;
		color: white;		
		display: block;
		height: 100%;	
		width: 100%;

		span {
			color: white;
			display: block;			
			padding: 3em 1em;
		}
	}

	@media( max-width: 800px ){
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media( max-width: 600px ){
		margin: .5em auto;
		min-width: 100%;
	}
	
}
.nav-previous{
	background-color: #333;
	&:hover{
		background: lighten(#333, 10%);
	}
	span:before{
		content: '<<';
		color: white;
	}
}
.nav-next{
	background-color: @link-color;	
	&:hover{
		background: lighten(@link-color, 10%);
	}
	span:after{
		content: '>>';
		color: white;
	}
}


.performers {
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1em;
	.performer {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.tags-links, .cat-links, .subscribe-links  {	
	background: #f2f2f2;
	display: flex;
	font-size: .75em;
	justify-content: center;
	margin: 0;
	padding: .5em;	
}

.subscribe-links {
	
	.apple {
		background: linear-gradient( to bottom, #D56EFB, #862DC3 );
	}
	
	.google {
		background: linear-gradient( to left, #68CBFA, #83FA65 );
	}


	a, a:visited {
		border-bottom: 0;
		color: white;
		font-weight: bold;
		padding: .5em;
		text-align: center;
		text-decoration: none;		
		text-transform: uppercase;
		width: 50%; 
		
		&:hover {
			border-bottom: 0;
			color: darken( white, 20%);
		}

		@media( max-width: 600px ){			
			width: 100%;
		}

	}

	@media( max-width: 600px ){			
		flex-direction: column;
	}


}
