body.page, body.single, body.search, body.archive, body.category{
	.branding-wrapper{
		max-width: 900px;
		margin: auto;
	}
	header#masthead{
		background-color: white;
		background-image: url(../assets/graph.svg);
		width: 100%; 

		nav ul, img, .site-title{
			display: inline-block;
		}
		img{
			max-height: 80px;
			width: auto;
			max-width: 80px;
			float: left;
		}

		img#hideOnHome{
			max-width: 100%;
			max-height: 100%;
			width: 50%;
			float: none;
		}

		.site-title{
			font-family: "Fjalla One", serif;
			margin: 0;
			padding: .25em 0 0 0;
			font-size: 3rem;

			a {
				text-decoration: none;
				color: black;
				&:hover{
					border-bottom: 2px solid #39b5de;
				}
			}
		}

		.site-branding{
			float: left;
		}

		i{
			padding: .25em 1em;
    		font-size: 3rem;
    		float: right;
    		cursor: pointer;
    		&:hover{
    			color: #39b5de;
    		}
		}

		nav.main-navigation{
			height: 100%; 
			width: 20%; 
			position: absolute;
			top: 0;
			bottom: 0;		
			background:white;
			left: -9999px;
			text-align: center;
 			-webkit-transition: all .75s;
			transition: all .75s;
			z-index: 100;
			#nav-close{
				display: none;
			}
			h2{
				text-align: center;
			}

			&.expanded{
				left: 0;
			}

			ul{
				padding: 20px;
				text-align: center;
				li{
					padding: 20px;
					font-size: 2em;
					a{
						color: black;						
						&:hover{
							padding-bottom: 0;
							border-bottom: 2px solid #39b5de;
						}
					}
				}
			}
		}

	}

}
main#main,aside#secondary{
	max-width: 900px;
	padding: 1em;
	margin: auto;
	background: white;
}

@media(max-width: 1200px){
	body.page, body.single{
		header#masthead{
			img#hideOnHome{
				max-width: 25%;
			}
			nav.main-navigation{				
				width: 50%;
				box-shadow: 1px 1px 1px grey;

				#nav-close{
					display: block;
					position: absolute;
					font-family: "Fjalla One", serif;
					top: 20px;
					right: 20px;
					font-size: 22px;
					cursor: pointer;
					&:hover{
						border-bottom: 2px solid #39b5de;
					}
				}
			}
		}
	}
}

@media(max-width: 768px){
	body.page, body.single{
		header#masthead{
			img#hideOnHome{
				max-width: 25%;
			}
			nav.main-navigation{				
				width: 90%;
				box-shadow: 1px 1px 1px grey;
			}
		}
	}
}

@media(max-width: 585px){
	body.page, body.single{
		header#masthead{
			.site-title{
				display: none;
			}
		}
	}	
}