
header.site-header {

	background-color: white;	
	border-bottom: 1px solid rgba(50,50,50,.15);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);	
	height: 90px;
	position: sticky;
	top: 0;
	width: 100%; 
	z-index: 5;

	.site-branding {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: auto;
		max-width: 1000px;
		
		//logo 
		img{
			height: 80px;
			width: auto;
			max-width: 80px;		
		}

		//links ( basically the social media links)
		a {
			border-bottom: 0;
			color: #7A7A7A;
			&:hover{ color: @link-color; }
		}
	
	}

	.nav-toggle {
		cursor: pointer;
		font-size: 2em;
	}

	ul.sharing-links {

		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0 .5em;
		}

		span.fa{
			font-size: 1.5em;
		}

	}

}





