body.home {
	
	// recent posts layout

	article.post{
		background: #F5F5F5;
		
		&.category-news{
			background: #333;
			color: white;
		}

	}

	// sidebar layout

	// footer layout

 	footer.site-footer{
 		position: fixed;		
 		bottom: 0;		
 	}

	//helpers

	.powerpress_links{
		display: none;
	 }

	img#hideOnHome{
		display: none;
	}


}