@media( min-width: 1200px ){ 
    @supports( display: grid){
        body.home {
            background: #f2f2f2;
        }
        body.home div.site{
            display: grid;
            grid-template-columns: 1fr 2fr;

            header.site-header {
                bottom: 0;
                border-bottom: 0;
                box-shadow: none;            
                height: 100%;         
                position: relative;   
                top: 0;
                width: auto;

                .site-branding {
                    max-width: 100%;
                }

                .sticky-nav{
                    bottom: 0;
                    left: 1em;
                    max-width: 30%;
                    position: fixed;                    
                    top: 10px;
                }

                nav.main-navigation {
                    left: 0;
                    width: auto;
                    position: relative;
                }

                ul.sharing-links {
                    display: flex;
                    justify-content: center;
                }

                ul.sharing-links li {
                    display: inline-block;
                    width: auto;
                }

            }

            main.site-main {
                display: grid;
                grid-gap: 1em;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr
            }

            div.site-content {
                max-width: 100%;
            }

        }
 
    }
}