body.home {
	
	// recent posts layout

	article.post{
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);	
		
		&.category-news{
			background: #F5F5F5;
		}

	}

	// sidebar layout

	// footer layout

 	footer.site-footer{
 		position: fixed;		
 		bottom: 0;		
 	}

	//helpers

	.powerpress_links{
		display: none;
	 }

	img#hideOnHome{
		display: none;
	}


}