/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a,
a:visited {
  border-bottom: 1px solid @complementary;
  color: @link-color;
  text-decoration: none;
}

.entry-title a {
  border-bottom: 0;
}

a:hover,
a:focus,
a:active {
  border-bottom: 1px solid @analogous1;
  color: @analogous2;
}

a:focus,
a:active {
  outline: @analogous2 thin dotted;
}

a:hover {
  outline: 0;
}
