.main-navigation {
    a[rel="home"] img {
         max-width: 125px;
    } 
}

.main-navigation.expanded {

   .nav-close { 
        background: #f2f2f2;
        cursor: pointer;
        display: block;
        font-size: 1em;
        text-align: right;
        padding: 0.5em 2em 0.5em .5em;
        width: 100%;        
        &:hover {
            background: #333;
            color: white;
        }
    }

}

