.category-podcast{
	
	.entry-header {

		background-size: cover; 
		min-height: 400px;		
		position: relative;

		.entry-header-content{
			
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;

			.entry-title{
				background: rgba(1,1,1,.5);
				color: white;
				margin-bottom: 0;
				padding: 1rem;
			}

			.entry-meta{
				background: #f2f2f2;

				span.meta-info {
					align-items: center;
					display: flex;
					justify-content: center;
				}

				span.meta-info span{		
				    border-right: 3px solid ;
				    font-size: .75em;
				    margin: .5rem;
				    padding-right: 1rem;
				    text-transform: uppercase;	    
					&:last-of-type{
						border-right: 0;
					}
				}

				.powerpress_links.powerpress_links_mp3{
					display:  none;
				}
			}
		}
	}
}


@media( max-width: 900px ){ 

	.category-podcast{

		.entry-header{
			min-height: 43vh;
		}

		.entry-header .entry-header-content h1.entry-title{
			font-size: 1em;
		}

		.entry-header .entry-header-content .entry-meta span.meta-info span{
			border-right: 0;
			display: block;
		}

	}

}

@media( max-width: 675px ){ 

	.category-podcast .entry-header .entry-header-content{
		position: relative;
	}
	.entry-header .entry-header-content .entry-meta span.meta-info span{
		text-align: center;
	}

}