article.post.category-podcast {
  .entry-header {
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 38vh;
    position: relative;

    @media (min-width: @inner-inner) {
      min-height: 500px;
    }

    .entry-header-content {
      width: 100%;

      @media (min-width: @inner-inner) {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
      }

      .entry-meta {
        background: #f2f2f2;
      }

      .entry-meta span.meta-info {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .entry-meta span.meta-info span {
        font-size: 0.75em;
        margin: 0.5em;
        text-transform: uppercase;

        @media (max-width: @inner-inner) {
          border-right: 0;
        }

        &:after {
          color: #b5a33f;
          content: " /";
          @media (max-width: @inner-inner) {
            content: "";
          }
        }

        &:first-of-type:after {
          @media (max-width: @inner-inner) {
            content: " / ";
          }
        }

        &:last-of-type:after {
          content: "";
          @media (max-width: @inner-inner) {
            content: "";
          }
        }
      }

      .entry-meta span.meta-info span.posted-on,
      .entry-meta span.meta-info span.byline {
        @media (max-width: @inner-inner) {
          display: none;
        }
      }

      .powerpress_links.powerpress_links_mp3 {
        display: none;
      }
    }
  }
}
