
@media (max-width: 768px){
	html{
		body.home{
			overflow-x: hidden;
			overflow-y: auto;

			div#page.site{
				flex-flow: column;
				height: auto;
			}
			header#masthead.site-header{
				width: 100%;
				max-width: 100%;
			}
			footer#colophon{
				position: relative;
				bottom: auto;
			}
			body.home div#content div.row:first-of-type article{

			}
			div#content div.row{
				height: auto;
				display: block;
				article{
					display: block;
					.article-wrap{
						display: block;
						position: relative;
					}
				}
			}
		}	
	}
}

