@media (max-width: 1600px){
	html{
		body.home header#masthead{
			//max-width: 22.5%;
		}
	}

}

@media (min-width: 1200px){
	.site-branding{ 
		margin-top: 40px; 
	}
}

@media (max-width: 1200px){
	html{

		friarbody.home div#content div.row article h2.callout{
			display: none;
		}

		body.home{

			h2.callout{
				display: none;
			}	

			overflow-x: hidden;
			overflow-y: auto;
			header#masthead{
				.site-branding{
					width: 80%;
					margin: auto;
					h1.site-title{
						float: left;
						clear: none;
						padding-top: 20px;
						font-size: 4em;
					}
					img{
						float: left;
					}
				}

			}
			div#page.site{
				flex-flow: column;
				height: auto;
			}
			header#masthead.site-header{
				width: 100%;
				max-width: 100%;
			}
			footer#colophon{
				position: relative;
				bottom: auto;
			}
			body.home div#content div.row:first-of-type article{

			}
			div#content div.row{
				height: auto;
				display: block;
				article{
					display: block;
					.article-wrap{
						display: block;
						position: relative;
					}
				}
			}
		}	
	}
}

@media(min-width: 970px){
	#nav-close{
		display: none;
	}
}

@media(max-width: 970px){
	html{
		body.home header#masthead h1 a{
			display: none;
		}
		body.home header#masthead .site-branding{
			width: auto;
			margin: 0;
			padding-left: 5%;
			max-width: 50%;
			float: left;
		}
		body.home header#masthead .site-branding img{
			float: left;
		}

		body.home {

			#nav-close{
				display: block;
				position: absolute;
				font-family: "Copse", serif;
				top: 20px;
				right: 20px;
				font-size: 22px;
				cursor: pointer;
				color: black;
				&:hover{
					border-bottom: 2px solid #39b5de;
				}
			}

			i#nav-toggle{
			    display: block;
			    position: absolute;
			    right: 50px;
			    top: 50px;
			    padding: .25em 1em;
	    		font-size: 3rem;
	    		float: right;
	    		cursor: pointer;
	    		&:hover{
	    			color: #39b5de;
	    		}
	    	}
		}
		body.home header#masthead{
			nav.main-navigation{
				height: 100%; 
				width: 80%; 
				position: absolute;
				top: 0;
				bottom: 0;		
				background:white;
				left: -9999px;
				text-align: left;
	 			-webkit-transition: all .75s;
				transition: all .75s;
				z-index: 100;
				a { text-decoration: none; text-align: left; }
				font-size: .75em;

				img#hideOnHome{
					display: block;
				}
				h2{
					text-align: center;
				}

				&.expanded{
					left: 0;
				}

				ul{
					padding: 20px;
					text-align: center;
					li{
						padding: 20px;
						font-size: 2em;
						a{
							color: black;						
							&:hover{
								padding-bottom: 0;
								border-bottom: 2px solid #39b5de;
							}
						}
					}
				}
			}
		}
	}	
}

@media(max-width: 768px){


	html{
		body.home{
			.main-navigation a{
				text-align: center;
			}
			header#masthead{
				.home-callout{
					margin-bottom: 20px;
				}
				.site-branding{
				
					.site-title{
						display: none;
					}
					img{
						
					}
				}

			}
		}
	}
}
