
@link-color: #3F8CB5;
@complementary: #B5A33F;
@analogous1: #693FB5;
@analogous2: #3F51B5;

@inner: 1200px;
@inner-inner: 800px;

.box-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}